{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="site-header-content outer{{#match @custom.header_style "Left aligned"}} left-aligned{{/match}}{{#unless @custom.show_publication_cover}}{{#match @custom.header_style "Hidden"}} no-content{{/match}}{{/unless}}">

    {{#if @custom.show_publication_cover}}
        {{#if @site.cover_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="xl"}}"
                alt="{{@site.title}}"
            />
        {{/if}}
    {{/if}}

    {{#match @custom.header_style "!=" "Hidden"}}
        <div class="site-header-inner inner">
            {{#match @custom.navigation_layout "Logo on cover"}}
                {{#if @site.logo}}
                    <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    <h1 class="site-title">{{@site.title}}</h1>
                {{/if}}
            {{/match}}
            {{#if @site.description}}
                <p class="site-description">{{@site.description}}</p>
            {{/if}}
        </div>
    {{/match}}

</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
<div class="front-banner">
  {{#get "posts" limit="2" filter="tags:front"}}
    {{#foreach posts}}
        <article class="post-card {{#has number="nth:3"}}post-card-large{{/has}} {{post_class}}">
            <a class="post-card-link" href="{{url}}">
                {{#if feature_image}}
                <img
                 srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1200w,
                        {{img_url feature_image size="xl"}} 2000w,
                        {{img_url feature_image}}"
                 sizes="(min-width: 701px) {{#has number="nth:3"}}94vw{{else}}calc(94vw / 2){{/has}}, 88vw"
                 src="{{img_url feature_image size="l"}}"
                 alt="{{title}}"
            >
                {{/if}}
            </a>
        </article>
    {{/foreach}}
  {{/get}}
</div>
<div class="inner posts">

    <!-- Featured Projects-->
{{#if @custom.show_projects}}
<h2 class="site-title">Projects</h2>
<div limit="3" class="project-feed">
{{#get "posts" filter='featured:true'}}
    {{#foreach posts}}
        {{> "post-card"}}
    {{/foreach}}
  {{/get}}
</div>
{{/if}}

<!-- Recent Blog Posts-->
{{#if @custom.show_blog}}
<h2 class="site-title">Blog</h2>
<div limit="5" class="blog-feed">
{{#get "posts" filter='tags:blog'}}
    {{#foreach posts}}
        {{> "post-card"}}
    {{/foreach}}
  {{/get}}
</div>
{{/if}}

    {{pagination}}

{{!-- A signup call to action is displayed here, unless viewed as a logged-in member --}}
{{#if @site.members_enabled}}
{{#unless @member}}
{{#unless @site.comments_enabled}}
    <section class="footer-cta outer">
        <div class="inner">
            {{#if @custom.email_signup_text}}<h4 class="footer-cta-title">{{@custom.email_signup_text}}</h4>{{/if}}
            <a class="footer-cta-button" href="#/portal" data-portal>
                <div class="footer-cta-input">Enter your email</div>
                <span>Subscribe</span>
            </a>
        </div>
    </section>
{{/unless}}
{{/unless}}
{{/if}}

</div>
</main>
